body {
    height: 100vh;
    width: 100vw;
}

.h-fit-content {
    height: fit-content;
}

.menu-item {
    transition: border .1s, color .1s;
    border-left: 4px solid transparent;
}

.menu-item--active {
    border-left: 4px solid salmon;
    color: white;
}

.menu-link {
    margin-left: -4px;
}

.chats-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}

.chats-search {
    height: 46px;
    margin-bottom: 30px;
}

.chats-sort {
    height: 32px;
}

.chats {
    height: calc(100vh - 200px);
}

.attachment {
    transform: rotateZ(45deg);
    transform-origin: center;
}

.message-input {
    resize: none;
}

.round-button {
    cursor: pointer;
    border: 5px solid transparent;
    transition: border .3s, transform .3s;
}

.round-button:hover {
    border: 5px solid darkred;
    font-size: 1.1rem;
}

.round-button a {
    line-height: 0;
}